/* Body utama */
body{
    background: #f3f3f3;
    color: #333333;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
/* Body utama */
/* Bagian Navbar */
.header {
    width: 90%;
    margin: auto;
    height: 100px;
    border-radius: 20px;
    line-height: 100px;
    background: #417aa8;
    color: #fff;
    padding: 0 2pc;
}
.nav {
    background-color: #417aa8;
    height: 55px;
    border-radius: 20px 20px 0 0;
    line-height: 50px;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 0 2pc;
}
.nav ul {
    list-style: none;
}
.nav ul li a {
    float: left;
    width: 70px;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.nav ul li a:hover {
    border-radius: 0 0 10px 10px;
    background-color: #2f81c5;
}
.nav form {
    float: right;
    margin: auto;
}
.nav form input {
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    border: none;
    height: 25px;
}
/* Bagian navbar */
/* Bagian Conten */
.content {
    width: 90%;
    margin: auto;
    height: 65rem;
    padding: 0.1px;
    background: #fff;
    color: #333;
    padding: 0 2pc;
}
.artikel {
    width: 70%;
    float: left;
    margin: auto;
    padding-right: 3pc;
    background: #fff;
    height: 333px;
}
.border {
    height: 300px;
    border-radius: 20px;
    border: 2px solid #4887b9;
    margin-top: 2pc;
    padding-bottom: -1pc;
    padding-left: 2pc;
    padding-right: 2pc;
}
.border img {
    margin: 2pc 0 0;
    width: 100px;
    height: 100px;
}
/* Bagian Conten */
/* Bagian sidebar */
.sidebar {
    width: 20%;
    float: left;
    text-align: justify;
    margin: -39pc auto;
    background: #fff;
    border-left: 2px solid #417aa8;
    height: 500px;
    padding: 0 1pc;
}
.undescore {
    text-decoration: none;
}
/* Bagian sidebar */
/* Bagian Akhir */
.footer {
    width: 90%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    background: #417aa8;
    color: #fff;
    margin-bottom: 1pc;
    padding: 0 2pc;
}
/* Bagian Akhir */